body {
    background-color: rgb(19, 19, 19);

    /* Font settings */
    font-family: "Fredoka", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 100;
    color: gray;

    /* Fitment Settings */
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

    text-transform: lowercase;
}

h1 {
    font-weight: 400;
}

a {
    padding: 0px 10px;
    text-decoration: none;
    color: rgb(58, 108, 247);
}

a:hover {
    color: rgb(100, 226, 100);
}

.wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.links {
    padding-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    border-radius: 20px;
    padding: 5px 15px;
    background-color: inherit;
    border: 3px solid gray;
    color: gray;
}

input:focus {
    outline: none;
    border: 3px solid rgb(100, 226, 100);
}